environment:
  nodejs_version: "node"

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

test_script:
  - node --version
  - npm --version
  - npm test


# Don't actually build.
build: off
